#navigation > ul > li{
    display: inline-block;
}

#navigation > ul > li > a {
    text-decoration: none;
    color: #6066f2;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    padding: 0 5px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    
}

#navigation > ul > li > a:hover{
    color: #8a378d;
    border-bottom:  1px dotted #8a378d ;
    border-top: 1px dotted #8a378d;
    padding: 10px 15px;
}


button > img{
    height: 20px;
    vertical-align: middle;
    font-weight: bold;
}

button:hover{
    background-color: #8a378d;
}

#article > span {
    width: 444px;
    height: 343px;
    opacity: 0.35;
    font-size: 288px;
    font-weight: bold;
    letter-spacing: 80px;
    text-align: center;
    color: #dbdbdb;
    position: absolute;
    z-index: -1;
    margin-top: 90px;
}

#article > h1{
    width: 504px;
    height: 183px;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    color: #488cf5;
    margin-top: 130px;
}

#article > h2{
    width: 512.4px;
    height: 90.7px;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #adadad;
}
